#splash {
	background-color: #444;
	color: #FFF;
	margin-top: 5%;
}

ul {
	list-style-type: none;
	padding: 0%;
}

.right-answer {
	background-color: green;
}

.wrong-answer {
	background-color: red;
}